<section>
    <div class="abtus w-full">
        <p>
            Zeenie's Délicatessen is a family run store located in Mumbai, India. <br>
            Our goal is customer satisfaction. Our products are made from fresh ingredients. 
        </p>
        <br>
        <article>
            We take special orders as well, just give us a call at +91 83693 18431
        </article>

        <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12" style="margin-left: 50%;">Home</a>
    </div>
</section>