<div class="er-pg w-full">
    <article>
        <div class="center">
            <img src="/img/no_page.png" alt="404-page not found">
        </div>
        <h2 class= "er-msg">It seems like you have caked your search. The page you are looking for doesn't exist.</h2>
    </article>
    <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12" >Go Back</a>
</div>